*{
  box-sizing: border-box;
}

:root {
  /* --orange: rgba(255, 115, 0, 0.664); */
  --blue: rgba(0, 153, 255, 0.658);
  --blue-solid: rgb(70, 140, 245, .5);
}

.lobby-wrapper{
  display: flex;
  flex-direction: row;
  height: 80%;
  margin: 1.5em 0;
}

.lobby-banner {
  height: 7%;
  color: white;
  background-color: rgb(70, 140, 245, .5);
  display: flex;
  align-items: center;
}

/* width */
.custom-scroll-bar::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  border: 1px solid #343A40;
  border-radius: 10px;
  background: transparent;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #28A745;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #28A745
}


.orange-blur:hover{
  box-shadow: #28A745;
}

.blue-blur:hover{
  box-shadow: 0px 0px 5px rgb(70, 140, 245, .5);
}

.orange-highlight:hover {
  background-color: var(--orange);
  border-radius: 10px;
  color: white;
}

.orange-highlight:hover *{
  color: white;
}