*{
  box-sizing: border-box;
}

.lobby-wrapper{
  display: flex;
  flex-direction: row;
  height: 95%;
  padding: 1.5em 0;
}

.lobby-banner {
  height: 5%;
  color: white;
  background-color: rgb(42, 42, 42);
  display: flex;
  align-items: center;
}

/* width */
.custom-scroll-bar::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  border: 1px solid #555;
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}