.Game {
  text-align: center;
  color: rgb(0, 255, 88);
  font-size: 20pt;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  width: 100%;
  height: 100%;
}


.Game-intro {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 30px;
  padding: 20px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 750px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  margin-top: 60px;
}

.card {
  /* width: 140px; */
  /* height: 70px; */
}

.card-title {
  color: rgb(0, 255, 88);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  text-shadow: 2px 2px #2b9e20;
}

.game-row-center{
  display: flex;
  justify-content: center;

}

.active-fix:focus {outline:0;}


.player {
  background-image: url('/player_1.png');
  width: 52px;
  height: 65px;
  animation:3s float infinite linear;
  transition: .5s;
  position: absolute;
}

.player:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px blue;
  border-radius: 50%;
  animation: 5s bubble infinite alternate linear;
}

@keyframes bubble{
  0%{
    top: 0%;
  }
  25%{
    top: -10%;
  }
  50%{
    top: 0%;
  }
  75%{
    top: 10%;
  }
  100%{
    top: 0%;
  }
}

@keyframes float{
  20%{
    background-position: 0px 0px;
  }
  40%{
    background-position: 0px 1px;
  }
  60%{
    background-position: 0px 3px;
  }
  80%{
    background-position: 0px 2px;
  }
  100%{
    background-position: 0px 1px;
  }
}

.modal{
  display: none;
  position: absolute;
  z-index: 1;
  height: 50%;
  width: 50%;
  background-color: rgba(12, 12, 12, 0.596);
  color: aliceblue;
  border: 1px solid green;
}

.card-asteroid {
  background: url("/Asteroid.png");
  background-size: 100% 100%;
  background-color: transparent !important;
}

.card-asteroid-munched {
  background-size: 100% 100%;
  background-color: transparent !important;
  animation-name: explosion;
  animation-duration: 1s;
  color: transparent;
}
@keyframes explosion {
  0%   {background: url("/Asteroid0.png");
        background-size: 100% 100%;}
  15%  {background: url("/Ast0ex1.png");
        background-size: 100% 100%;}
  20%  {background: url("/Ast1ex2.png");
        background-size: 100% 100%;}
  55%  {background: url("/Ast1ex3.png");
        background-size: 100% 100%;}
  100% {background: url("/Asteroid2.png");
        background-size: 100% 100%;}
}

@media screen and (min-height: 700px){
.Game {
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.Game-intro {
  flex: 1;
  align-items: center;
  height: 80%;
}

.Game:nth-child(1){
  flex: 2;
}

}