
.room-wrapper{
  flex-basis: 70%;
  height: 100%;
  border: 2px solid var(--blue);
  margin: 0 1em;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.room-banner{
  font-size: 1rem;
}

.room-banner-left {
  flex-basis: 75%;
  padding: 1em;
  margin: 0;
  display: flex;
  align-items: center;
}

.room-banner-right {
  flex-basis: 25%;
  padding: 1em;
  margin: 0;
  display: flex;
  align-items: center;
}

.room-info-wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.room-info{
  flex-basis: 75%;
  border-right: 3px solid var(--blue);
  height: 100%;
  padding: 0 .7em;
  position: relative;
}

.room-users{
  flex-basis: 25%;
  height: 92%;
}

.user-list{
  overflow-y: scroll;
  margin: .7em;
  height: 100%;
}

.room-info-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: space-around;
  margin-bottom: 1em;
}

.room-info-header::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 3px;
  background-color: var(--blue); 
}

.room-info-list {
  height: 80%;
  overflow-y: scroll;
}

.room-info-item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  margin-right: 2px;
}

.list-selected-item{
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 0;
  cursor: pointer;
  margin-right: 2px;
}

.room-info-item-select{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  cursor: pointer;
}

.room-info-item-select> p {
  color: white
}


.list-join-button{
  color: white;
  background-color: var(--orange);
  border-radius: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
  border: none;
  cursor: pointer;
}

.list-item-fix {
  color: var(--blue);
  margin: .8em;
  flex: 1;
  text-align: left;
  cursor: pointer;
}

.room-info-buttons{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.room-info-button{
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  height: 3em;
  flex-basis: 40%;
}

.room-info-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 40%;
  border: 1px solid var(--blue);
  background-color: rgba(37, 37, 37, 0.788);
  z-index: 10;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.room-info-modal-title{
  height: 15%;
  color: white;
  background-color: var(--blue);
  display: flex;
  align-items: center;
}

.room-info-modal-title-text{
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.room-info-modal-form {
  padding-top: 1em;
  width: 80%;
  height: 80%;
  align-self: center;
  text-align: center;
  position: relative;
}

.room-info-modal-form label{
  color: var(--blue);
}

.room-info-modal-form button {
  width: 100%;
  background-color: var(--orange);
  color: white;
  border: none;
  padding: 1em .7em;
  border-radius: 5px;
  position: absolute;
  bottom: 1em;
  left: 0;
}

.room-info-modal-form input {
  width: 100%;
  font-size: 2em;
  border: 2px solid var(--blue);
  text-align: center;
  background-color: rgba(66, 66, 66, 0.534);
  color: white;
}

.room-info-modal-error-message{
  color: rgb(255, 102, 0);
}

.room-info-close-modal {
  margin: 1em;
  cursor: pointer;
  vertical-align: center;
}

.room-info-close-modal:hover{
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 912px){
  .room-info-buttons{
    width: 100%;
  }
}

.user-list-item {
  color: var(--blue);
}

.gameroom-info {
  color: var(--blue);
}

.gameroom-button-leave{
  background-color: var(--orange);
}