

.Game {
  text-align: center;
  color: rgb(0, 255, 88);
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.Game-intro {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  /* color: rgb(0, 255, 88); */
  /* flex-direction: row; */
  justify-content: space-between;
  width: 750px;
  /* height: 325px; */
  /* margin: 150px; */
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  /* color: red; */
  /* flex-direction: row; */
  justify-content: center;
  justify-self: center;
  width: 750px;
  height: 325px;
  /* margin: 150px; */
}

.card {
  /* width: 140px; */
  /* height: 70px; */
}

.card-title {
  color: rgb(164, 255, 246);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.game-row-center{
  display: flex;
  justify-content: center;

}

.active-fix:focus {outline:0;}

.player {
  animation:3s float infinite linear;
  transition: .5s;
}

.player:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px blue;
  border-radius: 50%;
  animation: 5s bubble infinite alternate linear;
}

@keyframes bubble{
  0%{
    top: 0%;
  }
  25%{
    top: -10%;
  }
  50%{
    top: 0%;
  }
  75%{
    top: 10%;
  }
  100%{
    top: 0%;
  }
}

@keyframes float{
  20%{
    background-position: 0px 0px;
  }
  40%{
    background-position: 0px 1px;
  }
  60%{
    background-position: 0px 3px;
  }
  80%{
    background-position: 0px 2px;
  }
  100%{
    background-position: 0px 1px;
  }
 }
body {
 position:fixed;
 background:url(https://i.stack.imgur.com/cGIFX.jpg);
 animation:100s scroll infinite linear;
 background-size: 100%;
 top:0;
 left:0;
 width:100%;
 height:100%;
}
@keyframes scroll{
 100%{
   background-position: 3000px 0px;
 }
}

.modal{
  display: none;
  position: absolute;
  z-index: 1;
  height: 340px;
  width: 728px;
  background-color: black;
  color: aliceblue;
}

.card-asteroid {
  background: url("/Asteroid.png");
  background-size: 100% 100%;
  background-color: transparent !important;
}

.game-container{
  background: crimson;
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 460px;
  margin-top: 30px;
}