.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  /* color: red; */
  /* flex-direction: row; */
  justify-content: space-between;
  width: 750px;
  /* height: 325px; */
  /* margin: 150px; */
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  /* color: red; */
  /* flex-direction: row; */
  justify-content: space-between;
  width: 750px;
  height: 325px;
  /* margin: 150px; */
}

.card {
  width: 140px;
  height: 70px;
}

body {
  background-image: url('https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}


/* https://media2.giphy.com/media/3ov9jWAWNhfyr3zkJi/giphy.gif */
/* https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif */