.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  /* color: red; */
  /* flex-direction: row; */
  justify-content: space-between;
  width: 750px;
  /* height: 325px; */
  /* margin: 150px; */
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  /* color: red; */
  /* flex-direction: row; */
  justify-content: space-between;
  width: 750px;
  height: 325px;
  /* margin: 150px; */
}

.card {
  width: 140px;
  height: 70px;
}

body {
  background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    /* height: 100vh; */
    /* padding:0;
    margin:0; */
}
/* http://i.stack.imgur.com/kx8MT.gif */
/* https://66.media.tumblr.com/010c46067b29b710ce9a508fb4171dfb/tumblr_mqvzu0DpkI1sdgezwo1_400.gif */
/* https://media2.giphy.com/media/3ov9jWAWNhfyr3zkJi/giphy.gif */
/* https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif */
/* https://cdn.dribbble.com/users/1162077/screenshots/4382009/animated-pattern.gif */